<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!--favicon for our title page-->
    <link rel="icon" href="/img/weather.png" />
</head>
<body>
<div class="main-content">
<!--Rendering our header partial-->
{{>header}}
    <p>This site was created by Michaelz Omoakin. It uses data from mapbox.com and darksky.net</p>
<img src="/img/michaelz.jpg" alt="My Image" class="portrait">
</div>
<!--Rendering our footer partial-->
{{>footer}}
</body>
</html>
