/*This push the footer down to the bottom of the page*/
body {
  color: #333333;
  font-family: arial, serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  /*this tell the content to take over all the available space*/
  flex-grow: 1;
}
/*Ends here*/

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 35%;
  height: 35%;
}
input {
  border: 1px solid #cccccc;
  padding: 8px;
}
button {
  cursor: pointer;
  padding: 8px;
  color: #ffffff;
  background: #888888;
  border: 1px solid #888888;
}
